body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.7em;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

#nav_bar {
  margin-bottom: 20px;
  position: relative;
  height: 30px;
  background-color: #FFFF60;
}

#nav_links {
  position: absolute;
  margin-top: 3px;
  margin-right: 25px;
  right: 0;
}

#nav_links li{
  margin: 10px;
  display: inline;
  font-size: .95em;
}

#title_bar {
    position: relative;
    height: 50px;
    margin: 0 25px;
}

#title {
  position: absolute;
}

#buttons {
  position: absolute;
  right: 0;
}

#buttons li{
  margin: 10px;
  display: inline-block;
  right: 0;

}

#all_questions {
  font-variant: small-caps;
  margin-right: 25px;
  padding-bottom: 5px;
  border-bottom:  2px solid #7F3FBF;
}

.button_links {
    padding: 10px;
    width: 50px;
    background-color: #7F3FBF;
    color: white;
}

.button_links.visited {
  color: white;
}

.container {
  margin: 0 25px;
}

.article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  float: left;
  width: 728px;
  border-bottom:  1px solid #7F3FBF;
}

.count{
  width: 78px;
  float: left;
  text-align: center;
  margin-right: 20px;
}

.vote {
  display: block;
  font-variant: small-caps;
}

.answer {
  display: block;
  font-variant: small-caps;
}

.question{
  float: left;
  width: 630px;
}

.question_title {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #7F3FBF;
}

/*.vote {
  position: absolute;
  display: block;
  width: 25px;
}

.answer {
  position: absolute;
  display: block;
  width: 25px;
}*/
