body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.7em;
}

a:link {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

input[type=submit] {
  border: none;
  font-weight: 600;
  color: white;
  background-color: #7F3FBF;
  font-size: .9em;
}

#nav_bar {
  margin-bottom: 20px;
  position: relative;
  height: 30px;
  background-color: #000000;
}

#nav_links {
  position: absolute;
  margin-top: 4px;
  margin-right: 40px;
  right: 0;

}

#nav_links li{
  margin: 10px;
  display: inline;
  font-size: .93em;

}

#nav_links a{
  color: white;
}

#nav_links li:hover {
  background-color: #3a3a3a;
}

#title_bar {
  position: relative;
  height: 50px;
  margin: 0 25px;
}

#logo {
  width: 45px;
  display: inline;
  margin-right: 3px;
}
#title {
  margin-top: 6px;
  position: absolute;
  display: inline;
}

#title a{
  color: black;
}
#buttons {
  margin-top: 6px;
  position: absolute;
  right: 0;
}

#buttons li{
  display: inline-block;
  right: 0;
}

.main {
  margin: 25px;
}

.questions_title {
  font-variant: small-caps;
  padding-bottom: 5px;
  border-bottom:  2px solid #7F3FBF;
  font-size: 1.5em;
}

.button_links {
  padding: 5px 10px;
  width: 50px;
  background-color: #7F3FBF;
  color: white;
  font-size: .85em;
}

.button_links:hover {
  background: black;
}

.button_links.visited {
  color: white;
}

.container {
  margin: 0 25px;
}

.article {
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  float: left;
  width: 100%;
  border-bottom:  1px solid #7F3FBF;
}

.count{
  width: 15%;
  float: left;
  font-weight: 700;
  text-align: center;
  margin-right: 20px;
}

.vote {
  padding: 15px;
  display: block;
  font-variant: small-caps;
}

.answer {
  padding: 15px;
  display: block;
  font-variant: small-caps;
}

.question{
  float: left;
  width: 65%;
  margin-top: 16px;
}

.question_title {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.question_title a {
  color: #7F3FBF;
}

.question_title a:hover {
    color: black;
}

.time {
  font-size: .9em;
  opacity: 0.8;
}

.user {
  color: #7F3FBF;
}

.login-container {
  border: solid black .1px;
  width: 250px;
  height: 175px;
  font-size: .98em;
  font-weight: 600;
}

.new-container {
  border: solid black .1px;
  width: 250px;
  height: 225px;
  font-size: .98em;
  font-weight: 600;
}

.login-email {
  width: 50%;
  margin: 10px;
}

.login-password {
  width: 50%;
  margin: 10px;
}

.login-submit {
  margin: 10px;
}

.login-submit input:hover {
  background-color: black;
  overflow: hidden;
  float: left;
  width: 100%;
  border-bottom:  1px solid #7F3FBF;
}

.users-container {
  margin-left: 5px;
  margin-right: 5px;
  left: 10px;
}

.individual-users {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 0px;
  width: 45%;
  display: inline-block;
  overflow: hidden;
  float: left;
  border-bottom:  1px solid #7F3FBF;
  margin-bottom: 0px;
}

.picture-container {
  display: inline-block;
  margin-left: 15px;
}

.user-info-container {
  float: right;
  vertical-align: text-top;
  display: inline-block;
  padding-right: 15%;
  padding-top: 20px;
}

.user-info-container p {
  padding-bottom: 20px;
}

.questions_answered {
  font-size: 14pt;
}

.username {
  margin: 0;
  font-size: 20pt;
}


.member-since {
  font-style: italic;
  font-size: 10pt;
}

.user-index-head{
  border-bottom:  2px solid #7F3FBF;
  margin-bottom: 0px;
}

.picture-show-container {
  display: inline-block;
  float: left;
}

#profile-picture {
  width: 220px;
  height: 220px;
}

.user-show-container {
  display: inline-block;
  padding-left: 25px;
  padding-bottom: 15px;
  vertical-align: top;
}

li.user-info {
  font-size: 33px;
  color: #7B8793;
}

.edit-user-link {
  font-size: 14px;
}

.about-me {
  display: block;
  font-size: 20px;
  color: #7B8793;
}

@media (max-width: 631px;) {
  li.user-info {
    font-size: 20px;
  }
}

@media (max-width: 549px) {

  #logo {
    display: none;
  }

  #title {
    position: relative;;
  }

  #buttons {
    left: 0;
    padding: 0;
    margin: 10px 0;
  }

  #title_bar {
    margin: 10px;
  }

  .main {
    margin: 5px;
  }

  .button_links {
    margin: 10px 0;
    font-size: .9em;
    padding: 2px 2px;
    width: 50%;
  }

  .questions_title {
    display: block;
    margin-top: 50px;
  }

  .count{
    width: 25%;
    float: left;
    font-weight: 700;
    font-size: .9em;
    text-align: center;
    margin-right: 25px;
  }

  .question{
    width: 50%;
    margin-top: 1px;
    font-size: .8em;
  }

  .individual-users {
    display: block;
  }

  .user-info-container {
    margin-left: 20%;
    text-align: center;
  }

  li.user-info {
    font-size: 20px;
  }

  .about-me {
    font-size: 1em;
  }

  .questions_title {
    font-size: 1.4em;
  }

}
