<h1>Update your profile</h1>
<h3>Public information</h3>

<%= erb :'/partial/_errors' %>

<div class="edit-profile-container">
<form class="edit-profile-form" action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="put">
    <label for="username">Display name</label>
    <input type="text" name="user[username]" value="<%= @user.username %>">
    <label for="location">Location</label>
    <input type="text" name="user[location]" placeholder="Enter a location">
    <label for="title">Title</label>
    <input type="text" name="user[title]" placeholder="No title has been set">
</div>

<h3>About me</h3>
<div class="about-me-container">
    <textarea name="user[about_me]" rows="10" cols="90" class="about-me-text"
    placeholder="You don't have to be too mysterious. Let people know about you."></textarea>
    <br>
    <p>Re-enter your password for verification</p>
    <label for="password">Password:</label>
    <input type="password" name="user[password]">
    <input type="submit" name="submit" value="Update">
  </form>
</form>
</div>
