<div class="profile-container">

  <svg id="profile-picture" width="80" height="80" data-jdenticon-hash="<%= @hash %>"></svg>

<%= @user.username %>

<a href="/users/<%= @user.id %>/edit">click here to edit</a>
</div>
