<article>
    <li class="comment-username">-<a href="/users/<%=comment.user.id%>"> <%= comment.user.username %></a></li>
    <li class="comment-comment"> <%= comment.comment %></li>
    <li class="comment-time"> on <%= pretty_time(comment.created_at)%></li>
</article>
