<div class="partial-container">

  <p class="question-answer">
    <%= @question.answers.count %> Answers
      <% @question.answers.each do |answer| %>
    <br><br><%= answer.answer %>
      <% end %>
  </p>

</div>
