<article id="<%= @question.id %>">

  <form method="post" action="/questions/<%= @question.id %>" class="post-question"
    <textarea rows="4" cols="10">
      What is your question?
    </textarea>
  </form>

</article>
