<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <header>
    <div id="nav_bar">
      <ul id="nav_links">
      <% if @current_user %>
        <li><a href=""> <%= @current_user.username %> </a></li>
        <li><a href=""> Log Out </></li>
      <% else %>
        <li><a href="">Sign Up</a></li>
        <li><a href="">Log In</a></li>
      </ul>
    </div>
    <div>
      <h1>DBC OVERFLOW</h1>
      <ul>
        <li><a href="">Questions</a></li>
        <li><a href="">Users</a></li>
        <li><a href="">Ask Question</a></li>
      </ul>
      <% end %>
    </div>
  </header>
  <%= yield %>
</body>
</html>
