<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <header>
  <ul>
    <li><a href="">sign up</a></li>
    <li><a href="">log in</a></li>
  </ul>
  <h1>DBC Overflow</h1>
  <ul>
    <li><a href="">Questions</a></li>
    <li><a href="">Users</a></li>
    <li><a href="">Ask Question</a></li>
  </ul
  </header>
  <%= yield %>
</body>
</html>
